//  COLORS
$color-one: #43e7a9;
$color-one-light: #79ffcc;
$color-one-dark: #3b896b;
$color-two: #ff4a4a;
$color-two-light: #ff7979;
$color-two-dark: #ca5858;
$color-three: #ffa24a;
$color-three-light: #ffba79;
$color-three-dark: #ca9058;
$color-white: #fff;
$color-black: #000;
$color-grey-light: #717C78;
$color-grey-dark: #4B5350;
$card-color-1: #7ed56f;
$card-color-2: #28b485;
$card-color-3: #ffb900;
$card-color-4: #ff7730;
$card-color-5: #2998ff;
$card-color-6: #5643fa;
//  FONT
$font-pc:62.5%;
$default-size: 1.4rem;
$font-main: "Roboto Slab",
sans-serif;
$font-titles: "Muli",
sans-serif;
$font-text: "Work Sans",
sans-serif;
//  GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;