.footer {
    display: grid;
    grid-template-columns: 15% 85%;
    //width: 100vw;
    height: 15vh;
    
    //background-image: linear-gradient(to right, rgba($color-black, .2), rgba($color-black, .8));
    &__image {
        width: 100%;
     
        //height: 20rem;
        background-image: url(../media/img4.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: .5;
        
    
    }
    &__text {
        background-color: $color-black;
        font-family: $font-main;
        font-size: 1.5rem;
        color: $color-white;
        line-height: 15vh;
        text-align: center;
        padding: 1rem;
        background-color: $color-black;
        align-content: center;
        //width: 70%;
        //height: 15rem;
        &--text{
            display: inline-block;
        }
        &--in{
            vertical-align: middle;
            width: 2rem;
            height: 2rem;
        }
        
    }
}